body
{
position: relative;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}


.dogcard
{
    /* display: flex;
    align-items: center;
    flex-direction: row;
    margin: 15px;
    border: 3px;
    height: auto;
    margin-bottom: 25px;
    justify-content: center; */
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    justify-content: space-around;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.dogName
{
    display: flex;
    flex-direction: column;
}

.dogImg
{
    display: flex;
    flex-direction: column;
}

.dogTemperament
{
    display: flex;
    flex-direction: column;
}
         