.img
{
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px
  
}

.detail
{
  margin: 10%;
  border: solid 0.4rem  rgb(7, 135, 56);
  border-radius: 1.7rem;
  background-color:rgba(255, 249, 249, 0.616);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.warning
{
  color: crimson;
}